@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@500&display=swap');

body {
  font-family: 'Roboto Mono', monospace;
}

.intro {
  font-size: 500%;
  padding-left: 20px;
}

.introducing {
  font-size: 300%;
  padding-top: 50px;
  padding-left: 20px;
}

.container-blue-aj {
  background-color: #DCE5E2;
  padding: 100px;
  width: 100%;
}

.container-bio-aj {
  background-color: #C4CFDA;
  width: 100%;
}

.jessie-square-pic {
  margin-left: -60px;
  vertical-align: middle;
  border-radius: 50%;
  height: 170px;
  width: 170px;
}

.intro-pics-aj {
  position: float;
}

.intro-aj {
  padding-top: 20px;
}

#row-aj {
  margin: 0;
}

.img {
  padding: 20px;
  vertical-align: middle;
  border-radius: 50%;
}

.row-padding-aj {
  padding: 2%;
}

.twitter-aj {
  align-content: center;
}

.amber-bio {
  padding-right: 15%;
}

.jessie-bio {
  padding-right: 15%;
}

#ambershand-intro {
  padding-left: 5%;
}

#jessieauguste-intro {
  padding-left: 5%;
}