@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@500&display=swap');
body {
  font-family: 'Roboto Mono', monospace;
}
/* Header Test */
.intro {
  font-size: 500%;
  padding-left: 5%;
}
.introducing {
  font-size: 300%;
  padding-top: 10%;
  padding-left: 5%;
}
.container {
  padding-left: 0%;
  padding-right: 0%;
}
.container-blue-aj {
  background-color: #141B41;
  padding: 10%;
  width: 100%;
  color: white;
}

.navbar-custom {
  background-color: #141B41;
  color: white;
  padding: 0.6%;
  
}

.lisa-lime {
  background-color: limegreen;
}
/* Bios */
.container-bio-aj {
  background-color: #d0d3d9;
  width: 100%;
}
.jessie-square-pic {
  margin-left: -60px;
  vertical-align: middle;
  border-radius: 50%;
  height: 170px;
  width: 170px;
}
.intro-pics-aj {
  position: float;
}
.intro-aj {
  padding-top: 20px;
}
#row-aj {
  margin: 0;
  margin-left: 0%;
  margin-right: 0%;
}
.img {
  padding: 2%;
  vertical-align: middle;
  border-radius: 50%;
}
.row-padding-aj {
  padding: 2%;
}
.twitter-aj {
  align-content: center;
  display: inline;
}

#twitter {
  margin: 2%;
  margin-left: 15%;
}
.amber-bio {
  padding-right: 15%;
}
.jessie-bio {
  padding-right: 15%;
}
#ambershand-intro {
  padding-left: 5%;
}
#jessieauguste-intro {
  padding-left: 5%;
}
/* Footer */
footer {
  background-color: #C4CFDA;
  padding: 5%;
}
.button-aj {
 background-color:#141B41;
 color:#C4CFDA;
}

.form-footer-aj {
  display: inline;
}

.first-name-footer-aj {
  display: inline;
}
/* PROJECTS PAGE */

.column-projects-aj {
  float: left;
  width: 33.33%;
}

.col-sm-projects-aj  {
  margin: 2%;
  padding: 10%;
  border: #141B41;
  background-color: #C4CFDA;
  transition: transform .9s;
}

#footer-projects {
  margin-top: 10%;
}

.col-sm-projects-aj:hover {
  -ms-transform: scale(1.2); /* IE 9 */
  -webkit-transform: scale(1.2); /* Safari 3-8 */
  transform: scale(1.2); 
}

.project-section {
  padding-top: 10%;
}